.idea

*.pdx

examples/spritegame/Source/images
examples/bach_midi/Source/bach.mid
examples/bach_midi/Source/piano.wav
examples/tilemap/Source/font-table-20-20.png
examples/particles/Source/font
examples/particles/Source/images

*.sum

pdex.h

.DS_Store

cmd/pdgoc/pdgoc

examples/*/build
